@model VehicleModel

@{
  Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<h1>@ViewBag.Title</h1>

<ul id="toolBar" class="toolBar">
  <li>@Html.ActionLink("Edit", "Edit", new { controller = "Vehicle", area = "Policy", id = Model.Vehicle.Id }, new { id="editButton", title = "Edit the vehicle." })</li>
  <li>@Html.ActionLink("Add Customer", "CreateRetail", new { controller = "Vehicle", area = "Policy", id = Model.Vehicle.Id }, new { id="retailButton", title = "Add a customer to this vehicle." })</li>
  <li>@Html.ActionLink("Search", "Search", new { controller = "Vehicle", area = "Policy" }, new { id="searchButton", title = "Search for another vehicle." })</li>

  <li>
    <a id="actionButton">Actions</a>
    <ul>
      <li>@Html.ActionLink("Vehicle Notes", "DisplayNotes", new { controller = "Vehicle", area = "Policy", id = Model.Vehicle.Id }, new { id = "vehicleNotesAction", title = "View the vehicle notes." })</li>
      <li>@Html.ActionLink("Service History", "DisplayServiceHistory", new { controller = "Vehicle", area = "Policy", id = Model.Vehicle.Id }, new { id = "serviceHistoryAction", title = "View the service history." })</li>
      <li>@Html.ActionLink("Claim History", "DisplayClaimHistory", new { controller = "Claim", area = "Claim", id = Model.Vehicle.Id }, new { id = "claimHistoryAction", title = "View the claim history." })</li>
    </ul>
  </li>
</ul>

<table cellpadding="2" cellspacing="0" border="0">
  <colgroup>
    <col style="width: 175px" />
    <col />
  </colgroup>
  <tr>
    <td><label>VIN No:</label></td>
    <td>@Model.Vehicle.VinNumber </td>
  </tr>
  <tr>
    <td><label>Chassis No:</label></td>
    <td>@Model.Vehicle.ChassisNumber</td>
  </tr>
  <tr>
      <td><label>Engine No:</label></td>
      <td>@Model.Vehicle.EngineNumber</td>
  </tr>
  <tr>
      <td><label>Wholesale Date:</label></td>
      <td>@DateUtility.FormatDate(Model.Vehicle.WholesaleDate, "dd/MM/yyyy")</td>
  </tr>
  <tr>
      <td><label>Model:</label></td>
      <td>@Model.Vehicle.Model</td>
  </tr>
  <tr>
      <td><label>Current KM:</label></td>
      <td>@Model.Vehicle.CurrentDistance</td>
  </tr>
  <tr>
      <td><label>Status:</label></td>
      <td>@Model.Vehicle.VehicleStatus</td>
  </tr>
</table>

<div id="informationDialog" style="display: none">
  <iframe id="informationFrame" width="100%" height="100%" marginWidth="0" marginHeight="0" frameBorder="0" scrolling="auto"></iframe>
</div>

@section scripts
{
  @Html.ScriptLink("jquery-ui.js")

  <script type="text/javascript">
    $(function () {
      $("#editButton").button();
      $("#retailButton").button();
      $("#searchButton").button();
      $("#actionButton").button({
        icons: {
          secondary: "ui-icon-triangle-1-s"
        }
      });

      $("#vehicleNotesAction").click(showDialog);
      $("#serviceHistoryAction").click(showDialog);
      $("#claimHistoryAction").click(showDialog);

      $("#informationDialog").dialog({
        autoOpen: false,
        modal: true,
        height: 500,
        width: 800
      });

      initializeMenu("toolBar");
    });

    function showDialog(e) {
      e.preventDefault();

      var url = $(this).attr("href");
      var title = $(this).text();

      $("#informationDialog").dialog("option", "title", title);
      $("#informationDialog").dialog("open");
      $("#informationFrame").attr("src", url);
    }
  </script>
}