@{
  Layout = "~/Views/Shared/_ApplicationLayout.cshtml";
}

<h1>@ViewBag.Title</h1>

@Html.DisplayMessage()

@{ Html.BeginForm("ChangePassword", "Account"); }
<table cellpadding="2" cellspacing="0" border="0">
  <colgroup>
    <col style="width: 175px" />
    <col />
  </colgroup>
  <tr>
    <td><label>Current Password:</label></td>
    <td>
      @Html.Password("oldPassword", "", new { size = 30 })
    </td>
  </tr>
  <tr>
    <td><label>New Password:</label></td>
    <td>
      @Html.Password("newPassword", "", new { size = 30 })
    </td>
  </tr>
  <tr>
    <td><label>Confirm Password:</label></td>
    <td>
      @Html.Password("confirmPassword", "", new { size = 30 })
    </td>
  </tr>
</table>
<div style="text-align:center;padding-top:20px;">
  <input type="submit" id="btnSave" name="btnSave" value="Save" style="width: 80px;" />
  or
  @Html.ActionLink("cancel", "Profile")
</div>
@{ Html.EndForm(); }