<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <title>@ViewBag.Title</title>
  @Html.CssLink("site.css")
</head>
<body>
  <div class="pageHeader">
    <div class="headerContainer">
      <div class="logo">
        <img src="@Url.Content("~/Content/Images/Logo.png")" />
      </div>
    </div>
  </div>

  <div class="defaultBody">
    @RenderBody()
  </div>

  <div class="pageBottom"></div>
    <div class="pageFooter">
    <p>Codefire &copy; 2011</p>
  </div>
  
  @RenderSection("scripts", false)
</body>
</html>