<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>@ViewBag.Title</title>
    @Html.CssLink("site.css")
</head>
<body class="dialogBody">
  <div class="dialogContent">
    @RenderBody()
  </div>

  @Html.ScriptLink("jquery.js")

  @RenderSection("scripts", false)
</body>
</html>